### COMMON _FOR_ LOOP

In [1]:
mystring = 'Hello'
mylist = []

for letter in mystring:
    mylist += [letter]  # or mylist.append(letter)

print(mylist)

['H', 'e', 'l', 'l', 'o']

### LIST COMPREHENSION STYLE

In [2]:
mylist2 = [letter for letter in 'HELLO']
mylist2

['H', 'E', 'L', 'L', 'O']

In [3]:
mynumbers = [number for number in range(11)]
mynumbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### PERFORMING OPERATIONS

In [4]:
numbers_squared = [number ** 2 for number in range(1, 20, 2)]
print(numbers_squared)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [14]:
# Celcius to Fahrenheit

celcius = [10, 17.5, 32, 0, 7, 53]
fahrenheit = [(cel_temp * 1.8 + 32) for cel_temp in celcius]

print('celcius: {} \nfahrenheit: {}'.format(celcius, fahrenheit))

celcius: [10, 17.5, 32, 0, 7, 53]
fahrenheit: [50.0, 63.5, 89.6, 32.0, 44.6, 127.4]

### GETTING TUPLES

In [15]:
mytuple = tuple([x for x in range(10)])
mytuple

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### IF, ELSE

In [16]:
results = [x if x % 2 == 0 else 'ODD' for x in range(11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

### NESTED LOOP

In [19]:
# COMMON

mylist3 = []

for x in [2, 4, 6]:
    for y in [100, 200, 300]:
        mylist3 += [x * y]

print(mylist3)

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [20]:
# LIST COMPREHENSION STYLE

mylist4 = [x * y for x in [2, 4, 6] for y in [100, 200, 300]]
mylist4

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]