### COMMON _FOR_ LOOP

In [1]:
mystring = 'Hello'
mylist = []

for letter in mystring:
    mylist += [letter]  # or mylist.append(letter)

print(mylist)

['H', 'e', 'l', 'l', 'o']

### LIST COMPREHENSION STYLE

In [2]:
mylist2 = [letter for letter in 'HELLO']
mylist2

['H', 'E', 'L', 'L', 'O']

In [3]:
mynumbers = [number for number in range(11)]
mynumbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### PERFORMING OPERATIONS

In [4]:
numbers_squared = [number ** 2 for number in range(1, 20, 2)]
print(numbers_squared)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
# Celcius to Fahrenheit

celcius = [10, 17.5, 32, 0, 7, 53]
fahrenheit = []

### GETTING TUPLES

In [8]:
mytuple = tuple([x for x in range(10)])
mytuple

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)